html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

form {
  background: white;
  height: 45%;
  width: 40%;
  font-family: lato;
  position: relative;
  color: black;
  border-radius: 10px;
}

form header {
  position: relative;
  height : 2%;
  background: blue;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}

form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
}

.button1 {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 20px;
  left : 40%;
  top: 60%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: green;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
}
.button2 {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 20px;
  left : 65%;
  top: 60%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: red;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
}

#Score, #Comment{
  font-family: lato;
  font-size: 1 em;
  display: inline;
}